<%= form_with(model: assignment) do |form| %>
  <% if assignment.errors.any? %>
    <div class="text-red-500">
      <h2><%= pluralize(assignment.errors.count, "błąd") %> uniemożliwiło zapisanie tego przypisania:</h2>
      <ul>
        <% assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :user_id, "Użytkownik", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.collection_select :user_id, User.all, :id, :name, { include_blank: true }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :task_id, "Zadanie", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.collection_select :task_id, Task.all, :id, :name, { include_blank: true }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-6">
    <%= form.submit "Zapisz", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
