<p style="color: green"><%= notice %></p>

<h1>Przypisanie zadań</h1>

<div id="assignments">
  <% @assignments.each do |assignment| %>
    <p>
      <strong>User:</strong> <%= assignment.user.name %><br>
      <strong>Task:</strong> <%= assignment.task.name %><br>
      <%= link_to "Show this assignment", assignment %>
    </p>
  <% end %>
</div>

<%= link_to "New assignment", new_assignment_path %>
